<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>alexd.info</title>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lora|Architects+Daughter|Bad+Script|Damion|Comfortaa|Monoton' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>
  </head>




  <body>
    
    <nav class="navbar navbar-default navbar-fixed nav-outer">
  		<div class="row-fluid tab-middle"> 
  			<div class="col-xs-2">
  			
  			</div>
  			<div class="col-xs-8">
  				<div class="center">
 	 					<div class="titletext" href="#"> <span class="thick">alex</span><span class="thin">ander</span><span class="thick">d</span><span class="thin">illon</span><span class="info">.info</span></div>
 	 				</div>
  			</div>
  			<div class="col-xs-2">
  				<div style="text-align: right"></div>
  			</div>
  		</div>
  	</nav>

    <div class="container-fluid body-outer">
  	  <div class="row-fluid tab-middle">  
        <div class="col-md-4 animated fadeInUp">
          <a href="tracker/weight/new">
            <div class="maintile" id="research">
              <div class="tiletitle">Education<br>Research</div><br>
              <div class="underline"></div>
              <div class="titlesub"></div>Learning about Learning<br>
              <div class="tilebody">
                  Some of the interesting outcomes from analyzing longitudinal (weekly) motivation data from students in a variety of intro college engineering and science courses. 
              </div>
            </div>      
          </a>
        </div>
        
        <div class="col-md-4 animated fadeInUp">
          <a href="tracker/weight/">
            <div class="maintile" id="stats">
              <div class="tiletitle">R Statistics<br>Programming</div>
              <br>
              <div class="underline"></div>
              <div class="titlesub">Tips and Tricks</div>
              <br>
              <div class="tilebody">
                The online R statistics resources were instrumental in my development process, so I hope to contribute back with some vignettes of useful patterns, processes, and approaches that emerged in my work. 
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4 animated fadeInUp">
          <a href="#">
            <div class="maintile" id="viz">
              <div class="tiletitle">Novel<br>Visualizations</div>
              <br>
              <div class="underline"></div>
              <div class="titlesub">Pictures as One Thousand Words</div>
              <br>
              <div class="tilebody">
                Part of the power (and fun!) of data visualization is that it can be approached in many ways. This is a collection of some of the powerful and/or non-traditional visualizations one might find interesting.
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>

  </body>
  <footer>
  	look at the footers!!
  </footer>
</html>