<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>alexd.info</title>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lora|Architects+Daughter|Bad+Script|Damion|Comfortaa|Monoton' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>
  </head>




  <body>
    
    <nav class="navbar navbar-default navbar-fixed nav-outer">
  		<div class="row-fluid tab-middle"> 
  			<div class="col-xs-2">
  			
  			</div>
  			<div class="col-xs-8">
  				<div class="center">
 	 					<div class="titletext" href="#"> <span class="thick">alex</span><span class="thin">ander</span><span class="thick">d</span><span class="thin">illon</span><span class="info">.info</span></div>
 	 				</div>
  			</div>
  			<div class="col-xs-2">
  				<div style="text-align: right"></div>
  			</div>
  		</div>
  	</nav>

    <div class="container-fluid body-outer">
  	  <div class="row-fluid tab-middle">  
        <div class="col-md-4 animated fadeInUp">
          <a href="tracker/weight/new">
            <div class="maintile" id="research">
              <div class="tiletitle">Education<br>Research</div><br>
              <div class="underline"></div>
              <div class="titlesub">Face the music, fatso...</div> <br>
              <div class="tilebody">
                  Measuring weight, body fat percentage, and water percentage seemed like a good idea at the time. 
              </div>
            </div>      
          </a>
        </div>
        
        <div class="col-md-4 animated fadeInUp">
          <a href="tracker/weight/">
            <div class="maintile" id="stats">
              <div class="tiletitle">R Statistics<br>Programming</div>
              <br>
              <div class="underline"></div>
              <div class="titlesub">The tale of the tape</div>
              <br>
              <div class="tilebody">
                Watch the numbers go up and down. Or just see some lame-ass text if I never get around to implementing something cool. What happens if I let this go onto another line? 
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-4 animated fadeInUp">
          <a href="#">
            <div class="maintile" id="viz">
              <div class="tiletitle">Novel<br>Visualizations</div>
              <br>
              <div class="underline"></div>
              <div class="titlesub"> Subtitle</div>
              <br>
              <div class="tilebody">
                Text and description of things you know the type of things that would entice a person to click after giving them a general feel for the content
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>

  </body>
  <footer>
  	look at the footers!!
  </footer>
</html>