<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>alexd.info</title>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lora|Architects+Daughter' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js" charset="utf-8"></script>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'core/vizzit.css' %}"/>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84622303-1', 'auto');
  ga('send', 'pageview');

  </script>
  </head>




  <body>
    
    <nav class="navbar navbar-default navbar-fixed nav-outer">
  		<div class="row-fluid tab-middle"> 
  			<div class="col-xs-3">
  			
  			</div>
  			<div class="col-xs-6" style="font-size: 1.3em">
  				<div class="center">
 	 					<a href="#"><div class="titletext"> <span class="thick">Hello</span><span class="thin"> <strike>world</strike> </span><span class="thick">Locus</span><span class="thin"></span><span class="info"></span></div></a>
 	 				</div>
  			</div>
  			<div class="col-xs-3">
  				<div style="text-align: right"></div>
  			</div>
  		</div>
  	</nav>

    

    <div class="container-fluid" style="margin-bottom: 40px; max-width:1200px">
      

      <div class='row-fluid'> 
        <div class="col-xs-12 animated fadeInUp" style="width:100%">
          <div class='tiletitle'>Let's Get Started!</div>
          <div style='height:3px; width:40%; margin:auto; margin-top:1%; background-color:#52a6ea; max-width:600px; min-width:290px'></div>
          <div class='tilebody' style='padding-top:30px; padding-bottom: 50px; width:80%; margin:auto; text-align:left; max-width: 800px'>
            <div style='text-align:center; width:100%;'>
              My name is Alex Dillon, and I am very interested in your <a target='_blank' href='http://locustec.com/position/entry-level-application-developer-3510-5/'>opening</a> for an Application Developer<br><br>
            </div>
            <span style='font-size:.8em;'>
            I've been working with web applications and databases for the last few years  in my role as an academic researcher, and since moving to Asheville I've been looking for way to apply and develop these skills in service to a meaningful cause.<br><br>
            This role at Locus seems like a perfect fit!<br><br>
            I put this page together to demonstrate some of my previous work with the technologies listed in the job description - why just tell when you can also show? Though some of these examples are from a while ago and (shall we say) don't fully represent my current design sensibilities, I think they do provide some useful insight into my range of experience.<br><br>
            At the end I'll also tell you a little more information about what I'm like and what I like about this opportunity. But first, a little demo derby!
            </span>
          </div>     
        </div>
      </div>

      <div class='col-xs-12' style='width:100%'>
        <div class='tiletitle'>Show & Tell</div>
        <div style='height:3px; width:40%; margin:auto; margin-top:1%; background-color:#52a6ea; max-width:600px; min-width:290px'></div>
      </div>

      <div class='col-xs-12 tilebody'>
        <div style='width:100%; text-align:center; font-weight:bold; margin-top:40px; margin-bottom:15px; font-size:1.1em'>D3 Interface for Reddit.com</div>
        <div class="" style='width:100%; overflow:hidden; '>
          <div style='width:900px; height:660px; font-family:Arial; margin:auto; border-radius:25px; background: #333333; font-size:.7em'>
            <div id='vizzit' width='900' height='450' style='width:900px'></div>
            <div id='titlebar' style='width:98%; margin:auto; text-align:center'><p><span id='title_text'></span></p></div>
            <script src="{% static 'core/vizzit.js' %}"></script>
          </div>
        </div>
      </div>
        

      <div class='row'>
        <div class='col-xs-8 tilebody' style='padding:0px 30px'>
          <div style='width:100%'>
            <div style='text-align:center;text-decoration: underline'>Description</div>
            <div style='width:100%'>
              <div style='padding:20px; padding-top:5px; font-size:.8em; margin:auto; text-align:justify'>
                This is part of a current personal project of mine that was sparked by the desire to see how the front page of reddit evolves over time. I'm scraping and accruing front-page data into a database, which can then be rendered in an interactive timeline format. My goal is to make a publicly available live version, but what you see here is just a demo with some hard-coded data.<br><br>
                It's been fun to explore mixing interaction with analysis - for instance the color tiles re-arrange to reflect the "score" for that subreddit in the displayed time range, and by isolating just a few subreddits you can see how different categories are popular at different times of day (though not with this short dataset).
                <br><br>
                I find that teaching myself things is most effective with a goal in mind, so this project has been a great platform both for getting practice with d3 and with solving emergent challenges using javascript!
              </div>
            </div>
          </div>
        </div>
        <div class='col-xs-4 tilebody' style='padding:0px 10px;'>
          <div style='text-align:center;text-decoration: underline'>Tech Used</div>
          <div style='width:100%'>
            <div style='padding:10px; padding-top:5px; font-size:.8em; margin:auto; width:250px'>
              <ul>
                <li>HTML & CSS
                </li>
                <li>Javascript
                  <ul>
                    <li>d3.js</li>
                  </ul>
                </li>
                <li>MongoDB</li>
              </ul>
            </div>
            <div style='padding-top:15px; font-size:.7em'>
              Please note that this code is still very much a work in progress - I've left many variables exposed to the console, and haven't really given it a good re-factor. These steps were pending a re-write of the scraper that would store data in the rank-changes-only format I wound up needing to employ in the graph.
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-xs-12 tilebody'>
           <div style='width:100%; text-align:center; font-weight:bold; margin-top: 60px; font-size: 1.1em'>MotivationSurvey.com</div>
        </div>
        <div class='col-sm-8 tilebody' style='padding:0px 30px'>
          <div style='width:100%; text-align:center; text-decoration:underline'>Description</div>
          <div style='padding:20px; font-size:.8em; text-align: justify'>
            MotivationSurvey.com was a custom-built survey administration web application designed to reduce or eliminate many of the difficulties encountered in manual administration of longitudinal surveys.<br><br>
            Because of our unique use-case of administering surveys each week at times specific to each class, there was no readily available off-the-shelf survey system that automated this process. Additionally we wanted to implement a smart reminder system that emailed only non-responders, which meaningfully aided our completion rates without annoying people who already participated.<br><br>
            The system was very successful, collecting over 5 thousand responses during the three years of the project and allowing us to accrue the largest dataset of its kind while having much lower incompletion rates and administrative loads than would have occurred with a manually administered, non-customized approach. Unfortunately the site is no longer available because the research project has ended, though you can still see the welcome page via the <a target='_blank' href='http://web.archive.org/web/20160306040427/http://motivationsurvey.com/'>wayback machine</a>.<br><br>
            This project actually launched my web-app trajectory:  we hired two students over the summer to build the site, but they lost momentum and wound up leaving significant portions uncompleted and non-functional. With our large-scale data collection looming, I taught myself enough about javascript, node, jquery, and css to complete the project and add new functionality down the line. Although I was not exactly euphoric at the time, in retrospect I'm glad this launched me into the very interesting and powerful world of modern full stack web development!
          </div>
        </div>
        <div class='col-sm-4 tilebody' style='padding:0px 10px;'>
          <div style='text-align:center;text-decoration: underline'>Tech Used</div>
          <div style='width:100%'>
            <div style='padding:10px; padding-top:5px; font-size:.8em; margin:auto; width:280px'>
              <ul>
                <li>HTML & CSS
                  <ul><li>Twitter Bootstrap</li></ul>
                </li>
                <li>Javascript
                  <ul>
                    <li>JQuery</li>
                    <li>Node</li>
                  </ul>
                </li>
                <li>MongoDB
                  <ul><li>Schema Definition via Mongoose</li></ul>
                </li>
                <li>GIT & <a target='_blank' href='https://github.com/mdelrosa/sumsurv/graphs/contributors'>github</a></li>
                <li>Agile Development
                  <ul><li>Pivotal Tracker</li></ul>
                </li>
              </ul>
            </div>
            <div style='padding-top:15px; font-size:.7em'>
              In this animation of the development process of MotivationSurvey.com, I'm the blue "tallhobbes" figure that comes in after the two minute mark, which was December...
              <div style="height:4px"></div>
              <iframe width="100%" height='250px' src="https://www.youtube.com/embed/3Ve2btDLYO0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-xs-12 tilebody'>
          <div style='width:100%; text-align:center; font-weight:bold; padding-top:100px; font-size:1.1em'>Mobile-Friendly Survey Interface using Angular.js</div>
        </div>
        <div class='col-sm-8 tilebody' style='padding:0px 30px'>
          <div style='text-align:center;text-decoration: underline'>Description</div>
          <div style='padding:20px; font-size:.8em; text-align: justify'>
            Reviewing the Google Analytics for our motivation survey site revealed that many students were accessing the page via their mobile device. This created usability issues in the survey, which was laid out as a matrix of radio buttons in a fixed-width, non-responsive format that would be significantly obscured in a mobile browser.<br><br>
            To address this, I made a prototype for a responsive and more touch-friendly interface using Twitter Bootstrap, which was already used in the site, but also using the power of data-binding provided by Angular.js. This made coordinating the states of various elements on the page much cleaner than in raw javascript or JQuery, and also opened the possibility for efficient creation of new surveys by dynamically generating forms from a stored data structure.<br><br>
            This interface was also an improvement for desktop users: the original layout had the the meaning ascribed to the numeric responses displayed only in the column headers, which made them difficult to see as the user worked down the form. The new version made these meanings visible for each question, reducing the possibility of accidental misinterpretation and increasing accuracy.<br><br>
            
          </div>
        </div>
        <div class='col-sm-4 tilebody' style='padding:0px 10px;'>
          <div style='text-align:center;text-decoration: underline'>Tech Used</div>
          <div style='width:100%'>
            <div style='padding:10px; padding-top:5px; font-size:.8em; margin:auto; width:280px'>
              <ul>
                <li>HTML & CSS
                  <ul><li>Twitter Bootstrap</li></ul>
                </li>
                <li>Javascript
                  <ul>
                    <li>Angular.js</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div style='padding-top:52px; font-size:.7em'>
              <a target='_blank' href="{% static 'core/ng/survey.html' %}">You can see the prototype here</a>. 
              <br><br>
              Note that the directory structure of the app has been flattened for the purposes of including it in this context.
           </div>
          </div>
        </div>
      </div>

      <div class='col-xs-12' style='width:100%'>
        <div class='tiletitle'>About Me</div>
        <div style='height:3px; width:40%; margin:auto; margin-top:1%; background-color:#52a6ea; max-width:600px; min-width:290px'></div>
      </div>
      <div class='col-xs-12'>
        <div class='tilebody' style='padding-top:30px; padding-bottom: 50px; width:80%; margin:auto; text-align:left; max-width: 800px'>
          <div style='text-align:center; width:70%;margin:auto'>
            I'm a self-starting technophile with a desire to be part of something good<br><br>
          </div>
          <span style='font-size:.8em;'>
          I am a highly independent worker and learner who loves to teach myself things! After working in isolation for some time, however, I'm very driven to find a place where I can meaningfully contribute to others and be around people from whom I can learn and master new skills. I am also very drawn to mission-driven work, so the environmental protection element of Locus resonates very strongly with me.
          <br><br>
          I'm originally from Kentucky but spent the last 14 or so years in the Boston area, until <strike>fleeing the winter</strike> moving to Asheville last February. My educational background is in Engineering with a concentration in Systems Design, and I often find this holistic yet technical lens to be useful in many situations.<br><br>
          Although I am thoroughly geeky and love the wonders of technology, I also love the outdoors and music - my reasons for relocating to Asheville weren't solely weather related! I greatly enjoy my new home, and find the friendly and laid-back demeanor to jive very well with my own.

          </span>
        </div>
      </div>


  

    </div>

  </body>
  <footer>
  	<div style='text-align: right; font-size:1.2em; padding-right:15px; padding-top:3px; font-family: "Architects Daughter", sanserif;'><a href='mailto:contact@alexd.info'><span style='color: #ededeb;'>contact@alexd.info<span></a></div>
  </footer>
</html>