<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>alexd.info</title>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lora|Architects+Daughter' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84622303-1', 'auto');
  ga('send', 'pageview');

	</script>
  </head>




  <body>
    
    <nav class="navbar navbar-default navbar-fixed nav-outer">
  		<div class="row-fluid tab-middle"> 
  			<div class="col-xs-3">
  			
  			</div>
  			<div class="col-xs-6">
  				<div class="center">
 	 					<a href="/"><div class="titletext"> <span class="thick">alex</span><span class="thin">ander</span><span class="thick">d</span><span class="thin">illon</span><span class="info">.info</span></div></a>
 	 				</div>
  			</div>
  			<div class="col-xs-3">
  				<div style="text-align: right"></div>
  			</div>
  		</div>
  	</nav>

    <div class="container-fluid body-outer">
  	  <div class="row-fluid tab-middle" style="width: 100%;text-align: center">  
  	  	<div class="col-xs-2"></div>
        <div class="col-md-8 animated fadeInUp" style="margin:auto">
          <a target="_blank" href="https://www.researchgate.net/profile/Alex_Dillon/contributions">
            <div class="maintile" id="research" style='text-align: center' >
              <div class="tiletitle">Research Overview</div>
              <br>
              <div class="underline"></div>
              <br>
              <div class="tilebody">
                Analyzing learning environments through the motivation framework of Self-Determination Theory has led to some interesting findings - most recently including evidence that using discussion, rather than lecture, in class can meaningfully improve students' personal investment. 
                <br><br>
                I'm still working to find the best way to present these materials online, but in the meantime you can click this tile to see all my published research hosted on ResearchGate.
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-2"></div>

      </div>
    </div>

  </body>
  <footer>
  	<div style='text-align: right; font-size:1.2em; padding-right:15px; padding-top:3px; font-family: "Architects Daughter", sanserif;'><a href='mailto:contact@alexd.info'><span style='color: #ededeb;'>contact@alexd.info<span></a></div>
  </footer>
</html>